@media only screen and (max-width: 600px) {
    #main {
        margin-top: 50px;
        padding: 1vh;
    }

    .album ul,
    .achievement ul {
        display: block;
    }

    .album li,
    .achievement li {
        margin: 2vh 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    #main {
        margin-top: 50px;
        padding: 1vh;
    }

    .album ul,
    .achievement ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 30px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
    #main {
        margin-top: 50px;
        padding: 1vh;
    }

    .album ul,
    .achievement ul {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 30px;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
    #main {
        margin-top: 50px;
        padding: 1vh;
    }

    .album ul,
    .achievement ul {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 30px;
    }
}